NEXT_PUBLIC_SUPABASE_URL=https://aezlfvikcgzrwweqwnwj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFlemxmdmlrY2d6cnd3ZXF3bndqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU5MzYxNTgsImV4cCI6MjEwMTUxMjE1OH0.K2Zx2JqbPSPNOLZTIB1snvAz6fGnfe6mMWhp6a2RAlg
